/* Layout styles -----------------------------------*/

@media (min-width: 620px) {
    main {
        column-count: 2;
        column-gap: 30px;
    }

    .section {
        break-inside: avoid;
    }
}

@media (min-width: 960px) {
    main {
        column-count: 3;
    }
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@font-face {
    font-family: kingfont;
    src: url(../resources/droid-serif/DroidSerif-Italic.ttf);
}

/* styles */

:root {
    --darkblue: #34495e;
    --red: #e74c3c;
    --yellow: #C9C243;
    --orange: #FFA644;
    --blue: #3498db;
    --white: #ffffff;
    --kinglightblue: #00DAFF;
    --notsoblack: #34495e;
    --black: #000000;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
    font-size: 0.9em;

}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 0;
}


h2 {
    font-size: 1em;
    padding: 10px;
}

p {
    margin-bottom: 1em;
    padding: 0 10px;
}

.info-link {
    text-decoration: none;
    color: var(--red);
    padding: 10px;
    display: block;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-top: 3px solid var(--red);
    border-radius: 3px;
    background-color: white;
}

.options-link {
    text-decoration: none;
    font-size: 0.9em;
    color: var(--red);
}

.section {
    background-color: white;
    margin-bottom: 20px;
}

.main-title {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
}

maintitletext {
    font-size: 3em;
    text-align: left;
    color: var(--kinglightblue);
    padding: 0;
    font-family: 'kingfont', serif;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.bigtitle {
    padding: 0;
}

.bigtitle-title {
    color: var(--kinglightblue);
    border: 1px solid var(--kinglightblue);
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 1.4em;
    padding: 10px;
}

.bigbottom-link {
    background-color: var(--green);
    color: white;
}

.portrait-vignette {
    border-radius: 5px;
    width: 100%;
}

.portrait-small-vignette-wrap {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    padding: 10px;

}

.activity-small-vignette-wrap {
    width: 25px;
    height: 25px;
    float: left;
}

.activity {
    position: relative;
    width: auto;
    float: left;
}

.activity-icon {
    position: relative;
    float: left;
    padding-left: 10px;
    width: 45px;
}

.activity-text {
    position: relative;
    float: right;
    width: calc(100% - 50px);
}

.classType {
    font-weight: bold;
}

.contactFrm {
    width: 80px;
    bottom: 1em;
    right: 1em;
    z-index: 100;
}

.submit {
    color: #FFF;
    font-size: 1em;
    background: rgba(255, 0, 0, 1);
    transition: 0.5s all;
    border: 0;
    border-radius: 50%;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    width: 80px;
    height: 80px;
    cursor: pointer;
    padding-top: 35px;
    font-weight: 900;
}

.submit:hover {
    background: rgba(255, 0, 0, 0.5);
}



@media (min-width: 620px) {
    .options-link {
        font-size: 1.4em;
    }
}

@media (max-width: 620px) {

    .portrait-vignette {
        border-radius: 0;
    }

    .main-title {
        margin-top: -20px;
        margin-left: -20px;
        width: calc(100% + 40px)
    }

    .contactFrm {
        width: 80px;
        position: -webkit-sticky;
        position: sticky;
        top: 1em;
        right: 1em;
        z-index: 100;
    }

}

/*info---------------------------------------*/

#hoursOfOperation {
    padding-left: 0;
    text-align: left;
}

#hoursOfOperation td {
    padding: 0.25em 1em 0.25em 0;
    white-space: nowrap;
}

#studioMapLocation {
    margin: 0;
    width: 100%;
    height: 250px;
    border: 0;
    border-radius: 3px
}
